<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Помощь</title>
    <link rel="stylesheet" href="/css/bar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        let stompClient = null;
        function connect() {
            const socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/time', function(time) {
                    console.log('Received time: ' + time.body);
                    document.getElementById('time2').textContent = time.body;
                });
            });
        }
        window.onload = connect;
    </script>
</head>
<body>
<h1>БД Автомастерская</h1>
<br>
<div class="navbar">
    <a href="/">БД Автомастерская</a>
    <a href="/editor">Ввод</a>
    <a href="/search">Поиск</a>
    <a href="/statistic">Статистика</a>
    <a href="/help">Помощь</a>
    <a href="/export">Выгрузка БД</a>
</div>
<h1>Помощь</h1>
<br>
<p>
    Данная БД была создана для хранения/редактирования информации о <br>
    заказах в автосервисе, а также быстром поиске по параметрам <br>
    Использовалась информация, представленная в открытом виде. <br>
    Для списка марок и моделей автомобилей: <br>
    https://auto.ru/<br>
    Для подтверждения подлинности СТС:<br>
    https://гибдд.рф/check/auto/<br>
    Работу выполнил студент группы ИВТ-Б20 - Митрохин Матвей<br>
</p>
</body>
</html>