<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/bar.css"/>
</head>
<body>
<h1>БД Автомастерская</h1>
<br>
<div class="navbar">
    <a href="/">Главная</a>
    <a href="/editor">Ввод</a>
    <a href="/search">Поиск</a>
    <a href="/statistic">Статистика</a>
    <a href="/help">Помощь</a>
    <a href="/export">Выгрузка БД</a>
</div>
<h1>Главная страница</h1>
<br>
<p>
    Данная БД была создана для хранения/редактирования информации о <br>
    заказах в автосервисе, а также быстром поиске по параметрам <br>
    Использовалась информация, представленная в открытом виде. <br>
    Для списка марок и моделей автомобилей: <br>
    https://auto.ru/<br>
    Для подтверждения подлинности СТС:<br>
    https://гибдд.рф/check/auto/<br>
    Работу выполнил студент группы ИВТ-Б20 - Митрохин Матвей<br>
</p>

</body>
</html>